@font-face {  
    font-family: KaiseiOpti;
    src: url(fonts/Kaisei_Opti/KaiseiOpti-Medium.ttf);
}
@font-face {
    font-family: Kapakana;
    src: url(fonts/Kapakana/Kapakana.ttf);
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: IBMsans;
    src: url(fonts/Ibm_plex_sans/IBMPlexSans-Medium.ttf);
}
@font-face {
    font-family: IBMsans_semibold;
    src: url(fonts/Ibm_plex_sans/IBMPlexSans-SemiBold.ttf);
}
@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}
body{
    width: 100%;
}
.home{
    background-image:linear-gradient(0deg, #eee6ff81 50%, rgba(238,230,255,0.2150910364145658) 100%), url("Material/INNAYAT_TEAM1.jpg");
    background-size: cover;
    margin: 0%;
    padding: 0%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.logo{
    display: block;
    margin-left: 20px;
}
.home nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0px;
    top: 30px;
    padding: 0px;
    overflow: hidden;
    position:absolute;
    left: 1000px;
  }
li {
    float:left;
}
li a {
    display:flex;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0);
    color:#000000;
    font-family: 'Inter';
    font-weight:600;
    transition:ease-in-out 500ms;
}
li a:hover {
    content: '';
    background-color: #f9f9f9;
    border-radius: 20px;
    padding:5px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
li a:focus {
    content: '';
    background-color: #f9f9f9;
    border-radius: 20px;
    padding:5px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
.cont1 {
    z-index: 1;
}
.button{
    position:relative;
    top: 10px;
    left: 170px;
}
.bt2 {
    margin-left: 60px;
}
button {
    width: 170px;
    height:50px;
    padding: 10px;
    border: 0;
    background: linear-gradient(130deg, rgba(160,118,249,1) 36%, rgb(203, 177, 255) 100%);
    color: #ffffff;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    
 }
 button:hover {
    content: '';
    background: linear-gradient(140deg, rgba(160,118,249,1) 20%, rgb(203, 177, 255) 100%);
    
}
.next{
    position:relative;
    margin-bottom: 0%;
    top: 0px;
    left: 740px;
    padding: 15px;
    transition: ease-in-out 500ms;
}
.next:hover {
    top: 10px;
}
.next:hover:before {
    top: 10px;
}


.break {
    width: 100%; 
    height: 100px;
    background-color:white;
    rotate: 0deg;
}
.svg1 {
    top: -50px;
    left: -70px;
    position:relative;
    rotate: 10deg;
}
.svg2 {
    top: 0px;
    left:1100px;
    position:relative;
    rotate: 0deg;
}
.svg3 {
    bottom: -170px;
    left:-580px;
    position:relative;
    rotate: 0deg;
}
.img1 {
    top:-170px;
    left:10%;
    position: relative;
    border-radius: 900px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 13px 10.4px 0px rgba(0, 0, 0, 0.55);
}
.about {
    width: 100%;
    overflow: hidden;
}
.aboutus {
    color: black; 
    font-size: 30px; 
    font-family:'IBMsans_semibold'; 
    font-weight: 700; 
    text-decoration: underline; 
    text-transform: capitalize; 
    letter-spacing: 5.5px; 
    word-wrap: break-word;
    position: absolute;
    top: 980px;
    left: 750px;
}
.aboutus-content {
    color: black;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 300;
    letter-spacing: 6.9px;
    word-wrap: break-word;
    position: absolute;
    top: 1020px;
    left: 750px;
    width: 500px;
    height: 450px;
    overflow: hidden;
}
.next1{
    position:relative;
    margin-bottom: 0%;
    top: 120px;
    left: 25px;
    padding: 15px;
    transition: ease-in-out 500ms;
}
.next1:hover {
    top: 130px;
}
.next1:hover:before {
    top: 130px;
}


.svg4 {
    top: -25px;
    left:1150px;
    position:relative;
    rotate: 215deg;
}
.ach {
    color: black;
    font-size: 50px;
    font-family: 'IBMsans' ;
    letter-spacing: 9px;
    word-wrap: break-word;
    position:relative;
    top: -450px;
    left: 550px;
}
.circle {
    position: absolute;
    top: 1800px;
    left: 710px;
}
.next2{
    position:relative;
    margin-bottom: 0%;
    top: -10px;
    left: 730px;
    padding: 15px;
    transition: ease-in-out 200ms;
}
.next2:hover {
    top: 0px;
}
.next2:hover:before {
    top: 0px;
}
.year {
    margin-top: -75px;
    margin-left: 25px;
    color: black;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: 6.9px;
    word-wrap: break-word
}
.achievements {
    width: 100%;
    overflow: hidden;
}
.ach-content1 {
    color: black;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 300;
    letter-spacing: 6.9px;
    word-wrap: break-word;
    position: absolute;
    top: 1835px;
    left: 860px;
    width: 300px;
    height: 100px;
    overflow: hidden;
}
.ach-content2 {
    color: black;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 300;
    letter-spacing: 6.9px;
    word-wrap: break-word;
    position: absolute;
    top: 1985px;
    left: 390px;
    width: 300px;
    height: 100px;
    overflow: hidden;
}
.ach-content3 {
    color: black;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 300;
    letter-spacing: 6.9px;
    word-wrap: break-word;
    position: absolute;
    top: 2135px;
    left: 860px;
    width: 300px;
    height: 100px;
    overflow: hidden;
}
.svg5 {
    bottom: -1500px;
    left:-350px;
    position:absolute;
    rotate: 0deg;
    z-index: -1;
}


.form {
    width: 100%;
    overflow: hidden;
}
.formh1 {
    color: #000;
    font-family: 'IBMsans';
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5.07px;
    text-decoration-line: underline;
    position:relative;
    top: -250px;
    left: 200px;
}
.svg6 {
    top: -0px;
    left:1250px;
    position:relative;
    rotate: 215deg;
}
.formdt {
    display: flex;
    width: 830px;
    height: 340px;
    padding: 42.2px 49.9px;
    flex-direction: column;
    align-items: flex-start;
    gap: 27.8px;
    flex-shrink: 0;
    border-style: solid;
    border-radius: 35px;
    left: 380px;
    position:relative;
    top: -200px;
}
.input0 {
    width: 700px;
    height: 30px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.7px;
    flex: 1 0 0;
    align-self: stretch;
    border-style: none;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #d9d9d9;
    color: #5D5D5D;
    font-family: 'poppins';
    font-size: 11.515px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
}
.input {
    width: 700px;
    height: 30px;
    margin: 0px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.7px;
    flex: 1 0 0;
    align-self: stretch;
    border-style: none;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #d9d9d9;
    color: #5D5D5D;
    font-family: 'poppins';
    font-size: 11.515px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
}
.submitbtn {
    width: 700px;
    height:30px;
    margin-top: 28px;
    border-radius: 20px;
    padding: 10px;
    border: 0;
    background: linear-gradient(130deg, rgba(160,118,249,1) 36%, rgb(203, 177, 255) 100%);
    color: #ffffff;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11.515px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.382px;
    padding-top: 7px;
}
.svg7 {
    bottom: 300px;
    left:-350px;
    position:relative;
    rotate: 0deg;
    z-index:-1;
}
.next3{
    position:relative;
    margin-bottom: 0%;
    top: -440px;
    left: -160px;
    padding: 15px;
    transition: ease-in-out 500ms;
}
.next3:hover {
    top: -450px;
}
.next3:hover:before {
    top: -450px;
}
.error {
    color: red;
}

.footer {
    position: absolute;
    top: 4000px;
    left:610px;
}

